In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("framingham_heart_disease.csv")

In [3]:
df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [4]:
df.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [5]:
df.drop('education',axis=1,inplace=True)

In [6]:
df.head()

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [7]:
df.describe()

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4238.000000,4238.000000,4238.000000,4209.000000,4185.000000,4238.000000,4238.000000,4238.000000,4188.000000,4238.000000,4238.000000,4219.000000,4237.000000,3850.000000,4238.000000
mean,0.429212,49.584946,0.494101,9.003089,0.029630,0.005899,0.310524,0.025720,236.721585,132.352407,82.893464,25.802008,75.878924,81.966753,0.151958
std,0.495022,8.572160,0.500024,11.920094,0.169584,0.076587,0.462763,0.158316,44.590334,22.038097,11.910850,4.080111,12.026596,23.959998,0.359023
min,0.000000,32.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,71.000000,0.000000
50%,0.000000,49.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,89.875000,28.040000,83.000000,87.000000,0.000000
max,1.000000,70.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

In [8]:
df.shape

(4238, 15)

In [9]:
nrows,ncol = df.shape

In [10]:
s = pd.isnull(df['cigsPerDay'])
df[s]

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
131,1,43,1,NaN,0.0,0,0,0,222.0,109.5,69.0,25.50,75.0,NaN,0
139,1,49,1,NaN,0.0,0,0,0,256.0,127.5,81.5,28.21,93.0,85.0,1
1046,0,49,1,NaN,0.0,0,0,0,280.0,120.0,80.0,22.33,90.0,75.0,0
1292,1,42,1,NaN,0.0,0,0,0,225.0,122.5,80.0,25.54,90.0,90.0,0
1347,0,58,1,NaN,0.0,0,1,0,270.0,195.0,117.5,23.35,75.0,NaN,0
1451,1,54,1,NaN,0.0,0,0,0,219.0,110.0,72.0,26.05,95.0,86.0,0
1497,1,55,1,NaN,0.0,0,0,0,214.0,132.5,85.5,29.25,70.0,103.0,0
1610,0,61,1,NaN,0.0,0,1,0,356.0,168.0,98.0,27.30,103.0,106.0,0
1625,0,49,1,NaN,0.0,0,1,0,233.0,158.0,102.0,25.31,90.0,72.0,0
1870,0,47,1,NaN,0.0,0,0,0,365.0,127.0,76.0,24.44,72.0,80.0,0
1963,1,45,1,NaN,0.0,0,1,0,170.0,145.5,99.0,26.74,83.0,85.0,0
1980,0,60,1,NaN,0.0,0,0,0,228.0,112.0,74.0,24.51,63.0,NaN,0
2405,0,49,1,NaN,0.0,0,0,0,252.0,123.0,69.0,21.45,72.0,89.0,0
2513,1,42,1,NaN,0.0,0,0,0,226.0,119.0,80.0,25.29,62.0,98.0,0
2542,1,57,1,NaN,0.0,0,0,0,223.0,107.5,72.5,24.74,62.0,103.0,0
3021,1,53,1,NaN,0.0,0,0,0,276.0,130.0,86.0,24.21,58.0,82.0,0
3034,0,57,1,NaN,0.0,0,0,0,229.0,115.0,69.0,24.43,80.0,93.0,0
3094,0,49,1,NaN,0.0,0,1,0,214.0,172.0,111.0,40.51,80.0,70.0,1
3106,0,47,1,NaN,0.0,0,0,0,321.0,132.0,88.0,28.14,90.0,74.0,0
3108,1,39,1,NaN,0.0,0,0,0,285.0,121.0,82.0,27.62,85.0,65.0,0
3156,1,37,1,NaN,0.0,0,0,0,188.0,123.5,77.0,26.62,65.0,80.0,0
3177,1,45,1,NaN,0.0,0,0,0,248.0,121.0,72.0,27.88,64.0,88.0,0
3309,1,58,1,NaN,0.0,0,0,0,235.0,127.5,76.0,21.02,81.0,135.0,0
3432,0,55,1,NaN,0.0,0,1,0,213.0,163.0,91.0,28.66,69.0,66.0,0
3579,1,42,1,NaN,0.0,0,0,0,196.0,123.0,73.0,22.06,66.0,NaN,0
3715,0,57,1,NaN,0.0,0,0,0,270.0,120.0,79.0,24.83,95.0,81.0,0
3847,0,41,1,NaN,0.0,0,0,0,171.0,135.0,82.5,24.35,79.0,82.0,0
3924,0,52,1,NaN,0.0,0,1,0,292.0,157.0,112.0,29.56,95.0,84.0,0
3942,0,39,1,NaN,0.0,0,0,0,197.0,126.5,76.5,19.71,55.0,63.0,0

In [11]:
data = df.drop('currentSmoker',axis=1)

In [12]:
data.head()

,male,age,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [13]:
cig = df['cigsPerDay'].mean(skipna = True)
cig

9.003088619624615

In [14]:
import math
cig = math.floor(cig)
cig

9

In [15]:
data['cigsPerDay'].fillna(cig,inplace=True)

In [16]:
data.isnull().sum()

male                 0
age                  0
cigsPerDay           0
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [17]:
data.dropna(axis = 0,inplace=True)

In [18]:
data.isnull().sum()

male               0
age                0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [19]:
data.shape

(3774, 14)

In [20]:
heart_attack = data[data['TenYearCHD']==1]
heart_attack.head()

,male,age,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
3,0,61,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
6,0,63,0.0,0.0,0,0,0,205.0,138.0,71.0,33.11,60.0,85.0,1
15,0,38,20.0,0.0,0,1,0,221.0,140.0,90.0,21.35,95.0,70.0,1
17,0,46,20.0,0.0,0,0,0,291.0,112.0,78.0,23.38,80.0,89.0,1
25,1,47,20.0,0.0,0,0,0,294.0,102.0,68.0,24.18,62.0,66.0,1

In [21]:
no_heart_attack = data[data['TenYearCHD']==0]
no_heart_attack.head()

,male,age,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
4,0,46,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
5,0,43,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0

In [22]:
data.groupby('TenYearCHD').mean()

,male,age,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
TenYearCHD,,,,,,,,,,,,,
0,0.425312,48.740313,8.723750,0.024063,0.004063,0.276250,0.020625,235.347187,130.308437,82.182969,25.662769,75.609688,80.665000
1,0.557491,54.233449,10.574913,0.064460,0.013937,0.506969,0.062718,246.311847,143.827526,87.161150,26.644094,76.378049,88.827526

In [23]:
final = data.drop(['diaBP','BMI','heartRate'], axis = 1)

In [24]:
heart_attack = final[final['TenYearCHD']==1]
no_heart_attack = final[final['TenYearCHD']==0]

In [25]:
X = final[['male','age','cigsPerDay','BPMeds','prevalentStroke','prevalentHyp','diabetes','totChol','sysBP','glucose']]

In [26]:
Y = final['TenYearCHD']

In [51]:
from sklearn.model_selection import train_test_split,cross_val_score
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.20, random_state = 2)

In [52]:
from sklearn.metrics import accuracy_score,classification_report,precision_score,recall_score
from sklearn.metrics import precision_recall_curve,confusion_matrix,roc_curve,auc,log_loss
from sklearn.linear_model import LogisticRegression

In [53]:
model = LogisticRegression()

In [54]:
model.fit(X_train,y_train)

C:\Users\baniya.DESKTOP-S78Q7M6\Anaconda31\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [55]:
y_pred = model.predict(X_test)

In [56]:
y_pred_prob = model.predict_proba(X_test)[:,1]

In [57]:
[fpr,tpr,thr] = roc_curve(y_test,y_pred_prob)

In [58]:
print("Train test split results:")

Train test split results:

In [59]:
print(model.__class__.__name__+"accuracy is %2.3f" % accuracy_score(y_test,y_pred))
print(model.__class__.__name__+"log_loss is %2.3f" % log_loss(y_test,y_pred_prob))
print(model.__class__.__name__+'auc is %2.3f' % auc(fpr,tpr))

LogisticRegressionaccuracy is 0.856
LogisticRegressionlog_loss is 0.384
LogisticRegressionauc is 0.697